@charset "ISO-8859-1";

.card {
	font-weight: 300;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
	border-radius: .375rem;
}

.card .card-body h5 {
	font-weight: 600;
}

.number-input.number-input {
	border: 1px solid #ced4da;
	width: 8.6rem;
	border-radius: .25rem;
}

.number-input {
	margin-bottom: 3rem;
}

.card-link-secondary {
	color: #6c757d;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a.card-link-secondary:hover {
	color: #4f4f4f;
}

.card-link-secondary:hover {
	color: #4f4f4f;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.card-link-secondary {
	color: #6c757d;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.card a {
    color: #6c757d;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.list-group-flush .list-group-item {
    border-color: rgba(0,0,0,0.1);
}

.list-group .list-group-item:first-child {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}

.card strong {
    font-weight: 600;
}

.small {
	font-size: 75%;
}